# Preparing a dataset for GPT-3

In [12]:
import os 
import pandas as pd

In [13]:
def Text2List(paragraph):
    words = []
    for word in paragraph.split():
        words.append(word)
    return words

def PromptCatcher(words):
    list1=[]
    stop_element = "<endprompts>"
    for index, element in enumerate(words):
        list1.append(element)
        if element == stop_element:
            var=index
            break
    return var,list1[3:-1]

# Read the text file and put each line into the LIST

In [14]:
file = open('valid_prompt2story.txt', 'r', encoding='UTF-8')
text=[]
pattern = r'\s(?![\[]\\w\\ [\]])'
# Iterate over the lines of the file
promptList=[]
storyList=[]
for line in file:
    text.append(line)
    
for t in text:
    indx,prompt=PromptCatcher(Text2List(t))
    promptvar = ' '.join(prompt)
    promptList.append(promptvar)
    story=' '.join(Text2List(t)[indx+1:])
    storyList.append(story)

In [15]:
df_story = pd.DataFrame({'prompt': promptList, 'story': storyList})

In [16]:
df_story['story'] = df_story['story'].str.replace('<newline>', '')

In [17]:
df_story

,prompt,story
0,Every person in the world undergoes a `` goodn...,"Clancy Marguerian , 154 , private first class ..."
1,Space mining is on the rise . The Space tanker...,„… and the little duckling will never be able ...
2,`` I wo n't have time to explain all of this t...,I wo n't have the time to explain all of this ...
3,Write about a song . Each sentence must start ...,* '' [ Sally ] ( https : //www.youtube.com/wat...
4,You live in Skyrim . It is your job to keep li...,Light is a marvelous thing . It alone can turn...
...,...,...
15615,You are a teenager with the ability to measure...,I decided to go with a 1-15 scale instead of 1...
15616,"As your dying wish , you ask that your body is...",The shock hit me hard as my lungs filled with ...
15617,A young child stumbles upon a serial killer du...,`` Your mommy and daddy did n't raise you righ...
15618,Write from the perspective of a dog who thinks...,She wants me to get into the car . It 's just ...
15619,"When you die , you do n't go to the afterlife ...","Thomas loves science fiction , and is pleased ..."

In [18]:
df_story['prompt']= df_story['prompt'] + "\n\nSTORY\n\n"
df_story['story']= " " + df_story['story'] + " END"

In [19]:
df_story.head()

,prompt,story
0,Every person in the world undergoes a `` goodn...,"Clancy Marguerian , 154 , private first class..."
1,Space mining is on the rise . The Space tanker...,„… and the little duckling will never be able...
2,`` I wo n't have time to explain all of this t...,I wo n't have the time to explain all of this...
3,Write about a song . Each sentence must start ...,* '' [ Sally ] ( https : //www.youtube.com/wa...
4,You live in Skyrim . It is your job to keep li...,Light is a marvelous thing . It alone can tur...

In [20]:
df_story.columns=['prompt','completion']

# convert to jasonl file

In [30]:
df_story.head()
df_story_new=df_story.iloc[:50]

In [31]:
#df_story.to_json("prompt2story.jsonl", orient='records', lines=True)

In [35]:
df_story_new.head()

,prompt,completion
0,Every person in the world undergoes a `` goodn...,"Clancy Marguerian , 154 , private first class..."
1,Space mining is on the rise . The Space tanker...,„… and the little duckling will never be able...
2,`` I wo n't have time to explain all of this t...,I wo n't have the time to explain all of this...
3,Write about a song . Each sentence must start ...,* '' [ Sally ] ( https : //www.youtube.com/wa...
4,You live in Skyrim . It is your job to keep li...,Light is a marvelous thing . It alone can tur...

In [36]:
df_story_new.to_json("prompt2story_new.jsonl", orient='records', lines=True)